<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>The Vault GUI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="container">
    <canvas></canvas>
  </div>
  <div id="container-2" style="position: absolute; left: 0px; top: 0px; width: 100%; z-index: -1; pointer-events: none;">
    <!-- <h2>Rotation and scaling data</h2>
    <p>matrix</p> -->
    <div id="imageBox"></div>
    <!-- <div id="imageBox" style="padding: 122.5px 0; text-align: center;"></div> -->
  </div>
  <div class="window-item window-unitem" id="message">
    <div class="bar-header">
      <div class="bar-title noselect">Message Log</div>

      <div class="bar-dropdown noselect">^</div>
      <div class="bar-close noselect">&#215;</div>
    </div>
    <div class="bar-message">
      <div class="bar-wrapper" style="height:200px; overflow-y:scroll;">
      </div>
    </div>
  </div>

  <div class="window-item window-unitem" id="settings">
    <div class="bar-header">
      <div class="bar-title noselect">Settings</div>

      <div class="bar-dropdown noselect">^</div>
      <div class="bar-close noselect">&#215;</div>
    </div>
    <div class="bar-settings">
      <div class="bar-wrapper">
        <div class="line"></div>
        <div class="bar-setup">
          <span class="bl bar-hl">Box wireframe</span>
          <span id="settings-box" class="br bar-info">
                        <input type="checkbox" name="wireframe" value="wireframe" checked>
                    </span>
        </div>
        <div class="bar-setup">
          <span class="bl bar-hl">Background color</span>
          <span class="br bar-info">
                        <input id="bg-color" class="jscolor" value="fff">
                    </span>
        </div>
        <div class="bar-setup">
          <span class="bl bar-hl">Grey values</span>
          <span class="br bar-info">
                        <div id="slider-range"></div>
                    </span>
        </div>
        <div class="bar-setup">
          <span class="bl bar-hl"> </span>
          <span class="br bar-info">
                        <input id="textLowerGray" type="text" value="0"><input id="textUpperGray" type="text" value="255">
                    </span>
        </div>

        <div class="bar-setup">
          <span class="bl bar-hl">X-direction</span>
          <span class="br bar-info">
                        <div id="slider-range-x"></div>
                    </span>
        </div>
        <div class="bar-setup">
          <span class="bl bar-hl"> </span>
          <span class="br bar-info">
                        <input id="textLowerX" type="text" value="0"><input id="textUpperX" type="text" value="255">
                    </span>
        </div>

        <div class="bar-setup">
          <span class="bl bar-hl">Y-direction</span>
          <span class="br bar-info">
                        <div id="slider-range-y"></div>
                    </span>
        </div>
        <div class="bar-setup">
          <span class="bl bar-hl"> </span>
          <span class="br bar-info">
                        <input id="textLowerY" type="text" value="0"><input id="textUpperY" type="text" value="255">
                    </span>
        </div>

        <div class="bar-setup">
          <span class="bl bar-hl">Z-direction</span>
          <span class="br bar-info">
                        <div id="slider-range-z"></div>
                    </span>
        </div>
        <div class="bar-setup">
          <span class="bl bar-hl"> </span>
          <span class="br bar-info">
                        <input id="textLowerZ" type="text" value="0"><input id="textUpperZ" type="text" value="255">
                    </span>
        </div>
        <div class="line"></div>
        <div class="bar-setup">
          <span class="bl bar-hl">View Mode</span>
        </div>
        <br />
        <div class="bar-setup">
          <span class="bl bar-hl">Volren</span>
          <span id="viewVolren" class="br bar-info">
                        <input type="checkbox" name="Volren" value="Volren">
                    </span>
        </div>
        <div class="bar-setup">
          <span class="bl bar-hl">Iso</span>
          <span id="viewIso" class="br bar-info">
                        <input type="checkbox" name="Iso" value="Iso" checked>
                    </span>
        </div>
        <div class="bar-setup">
          <span class="bl bar-hl">OpenGL</span>
          <span id="rotateLight" class="br bar-info">
                        <input type="checkbox">
                    </span>
        </div>
      </div>
    </div>
  </div>

  <div id="window-tab">
    <div id="offMessage" class="noselect bar-pil">Message Log</div>
    <!--<div id="offOrientation" class="noselect bar-pil">Orientation</div>-->
    <div id="offSettings" class="noselect bar-pil">Settings</div>
  </div>

  <div class="window-cp" id="control-panel">
    <div class="bar-header">
      <div id="toggleGUI" class="bar-button noselect">Show/Hide GUI</div>
      <div id="showTabs" class="bar-button noselect">Windows</div>
      <!--<div id="testTrigger" class="bar-button noselect">Test Trigger</div>-->
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!-- <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery-ui.min.js') }}"></script> -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename = 'js/three.min.js') }}"></script> -->
  <script src="{{ url_for('static', filename = 'js/three.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/OrbitControls.js') }}"></script>
  <script>
    // Global variable
    var img = null,
      needle = null,
      ctx = null;

    function clearCanvas() {
      // clear canvas
      ctx.clearRect(0, 0, 200, 200);
    }

    function compassDraw(degrees) {
      //console.log("Draw degree");
      //console.log(degrees);

      clearCanvas();

      // Draw the compass onto the canvas
      ctx.drawImage(img, 0, 0);

      // Save the current drawing state
      ctx.save();

      // Now move across and down half the
      ctx.translate(100, 100);

      // Rotate around this point
      ctx.rotate(degrees * (Math.PI / 180));

      // Draw the image back and up
      ctx.drawImage(needle, -100, -100);

      // Restore the previous drawing state
      ctx.restore();
    }

    function imgLoaded() {
      compassDraw(myvalue);
    }

    var myvalue = 0;
    // init();
  </script>
  <script src="{{ url_for('static', filename = 'js/TrackballControls.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/ejs.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/volumeRaycaster.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename = 'js/volumeRaycaster_old.js') }}"></script> -->
  <script src="{{ url_for('static', filename = 'js/stats.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/jscolor.js') }}"></script>
  <script>
    config = {
      "dom_container": "container",
      "isWebgl2": true,
      "datasets_paths": [
        "{{ url_for('static', filename = 'dataset/wasp.raw') }}"
      ],
      "slicemaps_paths": [
        // "{{ url_for('static', filename = 'dataset/eucrib/256x256x256/slicemap_0.png') }}",
        // "{{ url_for('static', filename = 'dataset/eucrib/256x256x256/slicemap_1.png') }}",
        // "{{ url_for('static', filename = 'dataset/eucrib/256x256x256/slicemap_2.png') }}",
        // "{{ url_for('static', filename = 'dataset/eucrib/256x256x256/slicemap_3.png') }}"

        // "{{ url_for('static', filename = 'dataset/eucrib/512x512x512/slicemap_0.png') }}",
        // "{{ url_for('static', filename = 'dataset/eucrib/512x512x512/slicemap_1.png') }}",
        // "{{ url_for('static', filename = 'dataset/eucrib/512x512x512/slicemap_2.png') }}",
        // "{{ url_for('static', filename = 'dataset/eucrib/512x512x512/slicemap_3.png') }}",
        // "{{ url_for('static', filename = 'dataset/eucrib/512x512x512/slicemap_4.png') }}",
        // "{{ url_for('static', filename = 'dataset/eucrib/512x512x512/slicemap_5.png') }}",
        // "{{ url_for('static', filename = 'dataset/eucrib/512x512x512/slicemap_6.png') }}",
        // "{{ url_for('static', filename = 'dataset/eucrib/512x512x512/slicemap_7.png') }}"

        "{{ url_for('static', filename = 'dataset/amber/slicemap_0.png') }}",
        "{{ url_for('static', filename = 'dataset/amber/slicemap_1.png') }}",
        "{{ url_for('static', filename = 'dataset/amber/slicemap_2.png') }}",
        "{{ url_for('static', filename = 'dataset/amber/slicemap_3.png') }}",
        "{{ url_for('static', filename = 'dataset/amber/slicemap_4.png') }}",
        "{{ url_for('static', filename = 'dataset/amber/slicemap_5.png') }}",
        "{{ url_for('static', filename = 'dataset/amber/slicemap_6.png') }}",
        "{{ url_for('static', filename = 'dataset/amber/slicemap_7.png') }}",
      ],
      "steps": 256,
      "shader_name": "secondPassSoebel",
      // "shader_name": "secondPassDVR",
      "slices_range": [0, '*'],
      "row_col": [8, 8],
      "renderer_size": [1024, 1024],
      "renderer_canvas_size": ['fullscreen', 'fullscreen'],
      "opacity_factor": 40,
      "color_factor": 0.4,
      "l": 5,
      "s": 1,
      "zFactor": 1.0
    };
    rcl2 = new VRC.VolumeRaycaster(config);
    rcl2.setGrayMinValue(103.0/255.0);
    rcl2.showISO();
    rcl2.hideLight();
    rcl2.removeWireframe();
    rcl2.setBackgroundColor("#000000");
  </script>
</body>

</html>
